body {
     background-color: #FFFFFE0; / warna kuning cerah */
     front-family: Arial, sans-serif; /* Jenis huruf yang bersih dan mudah dibaca */ 
     color: "191970; /* warna teks utama (Biru Gelap) *)


.kartu-profil
     widht: 300px;
     margin: 50px auto /* 50px jarak atas/bawah,auto menengahkankan kiri/kanan */
     padding: 20x;
     background-color: white;
     border-radius: 15px; /* Membuat sudut menjadi melengkung */
     box-shadow : 0 4px 8px rgba(0,0,0,0.1): /* Efek bayangan */

  .karu-profil ing{
       widht: 150px;
       border-radius: 50% */ Trik untuk membuat gambarpersegi menjadi lingkaran sempurna */
          )

        .kartu-profil {
         /* . . . (kode dari slide sebelumnya) . . . */
       text-align: center; */ menengahkan semua teks didalam kartu */

  
